.label {
    -fx-background-color: #171717;
    -fx-background-radius: 18px;
    -fx-border-color: #171717;
    -fx-border-radius: 18px;
    -fx-border-width: 1px;
    -fx-font: 14px "System";
    -fx-text-fill: white;
}

.reply-label {
    -fx-background-color: #ffffff;
    -fx-background-radius: 18px;
    -fx-border-color: #d71920;
    -fx-border-radius: 18px;
    -fx-border-width: 1px 1px 1px 4px;
    -fx-text-fill: #171717;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(23, 23, 23, 0.22), 8, 0.4, 2, 2);
}
