.label {
    -fx-background-color: linear-gradient(to bottom right, #d99a42, #a76128);
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-color: #87491f;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-border-width: 1px;
    -fx-font: 14px "System";
    -fx-text-fill: white;
}

.reply-label {
    -fx-background-color: #f8f4e8;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-color: #9aae7a;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: #263827;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(38, 56, 39, 0.22), 8, 0.4, 2, 2);
}
